@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #22c55e;
  --radius-card: 12px;

  /* max width
  --max-width-container: 1200px; */
}



:root {
  --max-width-container: 1320px;
}




















